{% extends "base.html" %}
{% block container %}
<div class="flex items-center justify-center min-h-[600px] p-4 text-center">
    <div class="space-y-4">
        <div class="space-y-2">
            <h1 class="text-3xl font-bold tracking-tighter">404 Not Found</h1>
            <p class="mx-auto max-w-[400px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">
                We could not find the page you were looking for!
            </p>
        </div>
        <div>
            <a
                class="inline-flex h-10 items-center rounded-md border border-gray-200 border-gray-200 bg-white px-8 text-sm font-medium shadow-sm gap-1.5 translate-y-[1px] dark:border-gray-800 dark:border-gray-800 dark:bg-gray-950 dark:hover:bg-gray-800 dark:hover:text-gray-50 dark:focus-visible:ring-gray-300"
                href="/"
            >
                Go back to Home
            </a>
        </div>
    </div>
</div>
{% endblock %}
