<!DOCTYPE html>
<html lang="en" data-theme="night">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealistikGDPS :: {{ title }}</title>

    {% block head %}{% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/static/custom.css" />
</head>
<body>
    <div class="navbar bg-base-300">
        <button class="btn btn-ghost text-xl">RealistikGDPS</button>
    </div>
    {% block body %}{% endblock %}
    <div class="bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-900 dark:to-gray-950">
        <div class="container mx-auto ">
            {% block container %}{% endblock %}
        </div>
    </div>
</body>
</html>
